@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: NanumSquareWeb;
    src: local(NanumSquareR),
         local(NanumSquare),
         url(NanumSquareR.eot?#iefix) format('embedded-opentype'),
         url(NanumSquareR.woff) format('woff'),
         url(NanumSquareR.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0-10FFFF;
  }

.wd100{
    width: 100% !important;
}
.ta-center{
    text-align: center;
}

body{
    font-family: 'Noto Sans KR', sans-serif;

    background-color: #f8f9fa;
    .main-app-container{
        
        .align-center{
            text-align: center;
        }
        
        .file-dir{
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        .container-file-list{
            div{
                padding-top:1em;
                padding-bottom: 1em;
            }
        }
    }
    .main-container{
        background-color: rgba( 255, 255, 255, 0.9 );
        padding: 1%;
        border-radius: 5px;
    }

    .main-header{
        background-color: #20232a !important;
    }
    
    .container-main-mid{
        padding-top: 2em;
        padding-bottom: 2em;

        background-color: rgb(117,79,254);

        .main-content{
            max-width: 900px;
            margin: 0px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                padding-bottom: 0.2em;
                color: #fff;
            }

            p{
                color: #ffffff80;
            }

            .btn-join{
                background-color: #19cb98;
            }
        }
    }
    .bottom-content-container{
        max-width: 900px;
        margin: 0px auto;
    }

    .modal{
        .modal-dialog{
            .modal-content{
                .modal-body{
                    .other-btn-wrapper{
                        margin-top: 0.5em;
                        margin-bottom: 2em;
                        font-size: 12px;

                    }

                    .other-login-wrapper{
                        div{
                            cursor: pointer;
                            div{
                                span{
                                    font-size: 12px;
                                    margin-left: 0.2em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .join-container{
        padding: 0px !important;

        background-color: rgb(117,79,254);
        .join-title-wrapper{
            padding-top: 1em;
            padding-bottom: 1em;
            margin: 0px auto;
            max-width: 900px;
            h1{
                padding-bottom: 0.2em;
                color: #fff;
            }
        }
    }

    .join-form-container{
        padding: 0px !important;

        .join-form-wrapper{
            padding-top: 1em;
            padding-bottom: 1em;
            max-width: 500px;

            margin: 0px auto;

            .join-form{
                margin-bottom: 1em;
            }
        }
    }

    .offcanvas{
        .offcanvas-body{
            .container-friend-list{
                padding: 1em;
                .align-center{
                    .col{
                        a{
                            svg{
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
